@font-face{
    font-family: tommy;
    src: url(../fonts/MADE-TOMMY-Regular.otf);
    }

@font-face {
    font-family: horizon;
    src: url(../fonts/horizon.otf);
}

body, html {
    overflow-x: hidden;
}

.bg-gradient {
    width: 100%;
    overflow-x: hidden;
    background-attachment: fixed;
}

.my-name {
    font-family: horizon;
    font-size: 60px;
    letter-spacing: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-descrip {
    font-size: 20px;
    margin: 0 200px;
    text-align: justify;
}

.background-container {
    position: relative;
    width: 100%;
}

.content-container {
    display: flex;
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.left-intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 200px;
    margin-bottom: 95px;
    margin-right: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.right-intro {
    margin-top: 4.5%;
    margin-right: 2%; 
}

.my-pic {
    width: 100%;
}

section.flex-container {
    display: flex;
    align-items: center;
}

/* Styles for button-container */
.button-container button{
    margin-top: 20px;
    font-size:15px;
    width:140px;
    height:50px;
    border-width:2px;
    color:#ffffff;
    border-color:#fff;
    background-color: transparent;
    transition: background-color 0.5s;
    font-family: tommy;
    text-transform: uppercase;
}


.button-container button:hover {
    background-color: #FF2291;
  }
                
.button-container button {
    margin-right: 50px; 
}

.button-container button {
    margin: 25px 0;
    margin-right: 10px; 
    font-size: 15px;
    width: 200px; 
    height: 40px;
}

.second-sec {
    margin: 0 auto;
    justify-content: auto;
}

.outer-line {
    margin: 90px 150px;
    border: #fff  solid 2px;
}

.objective, .skills-title, .exp-title {
    font-family: horizon;
    font-size: 35px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 30px rgba(255, 34, 145, 0.8); 
}

.obj-text {
    text-align: justify;
    margin: 50px;
}

.obj-skills {
    display: flex;
    flex: 1;
    position: relative;
}

/* Circle CSS*/

.skills-content {
    margin-right: 150px;
}

.skill-container {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-container .skill {
    position: relative;
    margin-right: 40px;
    font-size: 13px;
}

.skill-container .skill .outer {
    height: 80px;
    width: 80px;
    border-radius: 50%; /* Adjust the percentage for smoother outer edges */
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0 0 0 /.15);
    transition: background 0.5s ease-in-out; /* Smooth background transition */
    overflow: hidden; /* Ensure inner circle doesn't protrude */
}

.skill-container .skill .outer .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid transparent; /* Add transparent border for smoother edges */
}

.skill-container .skill .outer .inner .number {
    font-weight: 800;
    color: black;
    transition: color 0.5s ease-in-out; /* Smooth color transition */
    text-align: center;
}

.experience {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    justify-content: center;
}

.image-exp {
    width: 240px;
    height: 400px;
    margin: 60px 50px;
    transition: 1s;
}

.image-exp:hover {
    transform: scale(1.5);
}





@media screen and (max-width: 1700px) {
    
    section.flex-container {
        flex-direction: column;
        align-items: stretch;
    }

    .left-intro {
        margin: 100px 0 10px 0;
        display: flex;
        flex:1;
        position:relative;
    }

    .bg-gradient {
        width: 300%;
    }

    .my-name {
        font-size: 40px;
    }

    .my-descrip {
        font-size: 15px;
    }

    .content-container {
        flex-direction: column;
    }

    .right-intro {
        margin: 0 auto;
    }

    .my-pic {
        width: 90%;
        margin-left:75px;
    }
}