@font-face{
    font-family: tommy;
    src: url(../fonts/MADE-TOMMY-Regular.otf);
    }

@font-face {
    font-family: horizon;
    src: url(../fonts/horizon.otf);
}

.title-contact {
    font-family: horizon;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 30px rgba(255, 34, 145, 0.8); 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    padding: 100px;
    background-color: #131313;
}   
.form-container .left-side {
    flex: 1;
    text-align: center;
    margin-right: 50px;
}
.form-container .right-side {
    flex: 1;
    text-align: center;
    margin-left: 50px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: tommy;
}
textarea {
    height: 150px;
}
.button-cont input {
    color: #fff;
    border: #fff 2px solid;
    font-family: tommy;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    background-color: transparent;
    text-transform: uppercase;
}
.button-cont input:hover {
    background-color: #FF2291;
}

.contact-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }

.contact-align {
    text-align: left;
    margin-top: 50px;
}

/* IPAD */
@media screen and (max-width: 1024px){
     p {
        font-size: 15px;
     }

    .title-contact {
        font-size: 35px;
    }

    .container {
        margin-top: 50px;
        display: relative;
        height:90vh;
    }

    .form-container {
        display: block;
        max-width: 500px;
        padding: 55px;
    }   
    
    .form-container .left-side {
        margin-right: 0;
    }

    .form-container .right-side {
        margin: 0;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }

    textarea {
        height: 120px;
    }

    .contact-icon {
        width: 25px;
        height: 25px;
      }
    
    .contact-align {
        text-align: center;
        margin: 27px auto;
    }
}