@font-face{
    font-family: tommy;
    src: url(../fonts/MADE-TOMMY-Regular.otf);
    }

@font-face {
    font-family: horizon;
    src: url(../fonts/horizon.otf);
}

.title-exp{
    text-align: center;
    font-family: horizon;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 0 30px rgba(255, 34, 145, 0.8); 
}

/* Features of Exp */
.feature-exp {
    margin: 3% 0;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 15%;
}

.column {
    flex: 1;
    padding: 20px;
  }

.column:first-child {
    flex-basis: 25%;
  }

.column:nth-child(2),
.column:nth-child(3) {
    flex-basis: 37.5%;
  }

.c2-r1, .c2-r2, .c3-r1, .c3-r2 {
    background-color: rgb(0, 0, 0, 0.3);
}

.c2-r1, .c2-r2, .c3-r1, .c3-r2 {
    padding: 30px;
    margin: 20px;
}

.column1 {
    margin: auto 0;
}
.column1 h1 {
    font-size: 100px;
    margin: -10px 0;
}

.column1 p {
    font-size: 20px;
}

.container h1{
    color: #FF2291;
}

.c2-r1 h1, .c2-r2 h1, .c3-r1 h1, .c3-r2 h1 {
    font-size: 50px;
    margin: -10px 0;
}

@media screen and (max-width: 1700px) {
    
    .feature-exp {
        margin-top: 100px;
    }

    .container {
        margin: 0 10%;
    }

    .column {
        flex-basis: 100%; 
    }

    .column1 {
        margin: 90px 0;
    }

    .column1 h1 {
        font-size: 60px;
        margin: 0;
    }

    .column1 p {
        font-size: 16px;
    }

    .c2-r1 h1,
    .c2-r2 h1,
    .c3-r1 h1,
    .c3-r2 h1 {
        font-size: 40px;
        margin: -10px 0;
    }

    .column2 p, .c3-r1 p, .c3-r2 p {
        font-size: 15px;
    }
}

/* ipad Mini Portrait */
/* @media only screen and (width:770px) {
    body {
        overflow-x: hidden;
    }
} */

